.container {
    width: 100px;
    height: 25px;
    border: 2px solid black;
    background-color: #2dc2b0;
    padding: 2px;
    cursor: default;
}

.items {
    position: absolute;
}

.item {
    width: 100px;
    height: 25px;
    border: 2px solid black;
    background-color: #2dc2b0;
    padding: 2px;
}

.item:hover {
    background-color: #0f7d7d;
    cursor: default;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right;
}